# 第2章: UNIXコマンド

In [1]:
with open("data\popular-names.txt") as f:
    data = f.readlines()

## 10. 行数のカウント

In [2]:
print(len(data))

## 11. タブをスペースに置換

In [3]:
data2 = [d.replace("\t", " ") for d in data]

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [26]:
col1 = [d.split("\t")[0] for d in data]
col2 = [d.split("\t")[1] for d in data]

In [5]:
with open("data\col1.txt", mode="w") as f:
    for i in col1:
        f.write(i + "\n")
with open("data\col2.txt", mode="w") as f:
    for i in col2:
        f.write(i + "\n")

## 13. col1.txtとcol2.txtをマージ

In [6]:
with open("data\col1.txt") as col1, open("data\col2.txt") as col2, open("data\merge.txt", mode="w") as f:
    for line1, line2 in zip(col1, col2):
        f.write(line1.strip() + "\t" + line2.strip() + "\n")

## 14. 先頭からN行を出力

In [7]:
N = int(input())
for d in data[:N]:
    print(d)

5
Mary	F	7065	1880

Anna	F	2604	1880

Emma	F	2003	1880

Elizabeth	F	1939	1880

Minnie	F	1746	1880

## 15. 末尾からN行出力

In [8]:
N = int(input())
for d in data[-N:]:
    print(d)

5
Benjamin	M	13381	2018

Elijah	M	12886	2018

Lucas	M	12585	2018

Mason	M	12435	2018

Logan	M	12352	2018

## 16. ファイルをN分割する

In [19]:
N = int(input())
count = len(data)
unit = len(data) // N

28

In [21]:
for i in range(0, count, unit):
    j = 1
    with open("data\\file_{}.txt".format(j), mode="w") as f:
        for d in data[i:i + unit]:
            f.write(d)
    j += 1

## 17. １列目の文字列の異なり

In [49]:
set_column1 = set(col1)
print(set_column1)

{'Noah', 'Donna', 'Ruth', 'Alexander', 'Heather', 'Edward', 'Nicholas', 'Emma', 'James', 'Hannah', 'Daniel', 'Doris', 'Carolyn', 'Karen', 'Michael', 'Megan', 'Chloe', 'Ethel', 'Laura', 'Carol', 'Sarah', 'Virginia', 'Mary', 'Patricia', 'Lucas', 'Brandon', 'Aiden', 'Melissa', 'Madison', 'Nicole', 'Kathleen', 'Anthony', 'Amelia', 'Deborah', 'Crystal', 'Stephanie', 'Joan', 'Ida', 'Elizabeth', 'Jessica', 'Joshua', 'Julie', 'Michelle', 'Frances', 'Florence', 'Helen', 'Cynthia', 'Shirley', 'Evelyn', 'Charlotte', 'Charles', 'Jeffrey', 'Kimberly', 'Clara', 'Donald', 'Larry', 'Harper', 'Brian', 'Brittany', 'Bessie', 'Anna', 'Isabella', 'Lauren', 'Jayden', 'Amy', 'Elijah', 'Andrew', 'Rachel', 'John', 'Jason', 'Amanda', 'Ashley', 'Logan', 'Alice', 'Olivia', 'Annie', 'Margaret', 'George', 'Kelly', 'Lisa', 'Tammy', 'Austin', 'Samantha', 'Walter', 'Alexis', 'Mark', 'Joseph', 'Henry', 'Liam', 'Mildred', 'Bertha', 'Emily', 'Sophia', 'Susan', 'Judith', 'Mason', 'Sandra', 'Minnie', 'Harry', 'Lori', 'Gary', 'Ronald', 'Jacob', 'Lillian', 'Justin', 'Thomas', 'Debra', 'Tracy', 'Betty', 'Scott', 'Nancy', 'Matthew', 'Richard', 'Robert', 'Rebecca', 'Christopher', 'Pamela', 'Tyler', 'Ava', 'Frank', 'Sharon', 'Abigail', 'Barbara', 'Benjamin', 'Dorothy', 'Oliver', 'Taylor', 'David', 'Angela', 'Ethan', 'Marie', 'Steven', 'William', 'Linda', 'Jennifer', 'Mia'}

## 18. 各行を3カラム目の数値の降順にソート

In [55]:
data.sort(key= lambda x: int(x.split("\t")[2]), reverse=True)
data[0:5]

['Linda\tF\t99689\t1947\n',
 'Linda\tF\t96211\t1948\n',
 'James\tM\t94757\t1947\n',
 'Michael\tM\t92704\t1957\n',
 'Robert\tM\t91640\t1947\n']

## 19. 各行の1カラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [58]:
import collections
common = collections.Counter(col1).most_common()
common

[('James', 118),
 ('William', 111),
 ('John', 108),
 ('Robert', 108),
 ('Mary', 92),
 ('Charles', 75),
 ('Michael', 74),
 ('Elizabeth', 73),
 ('Joseph', 70),
 ('Margaret', 60),
 ('George', 58),
 ('Thomas', 58),
 ('David', 57),
 ('Richard', 51),
 ('Helen', 45),
 ('Frank', 43),
 ('Christopher', 43),
 ('Anna', 41),
 ('Edward', 40),
 ('Ruth', 39),
 ('Patricia', 38),
 ('Matthew', 37),
 ('Dorothy', 36),
 ('Emma', 35),
 ('Barbara', 32),
 ('Daniel', 31),
 ('Joshua', 31),
 ('Sarah', 26),
 ('Linda', 26),
 ('Jennifer', 26),
 ('Emily', 26),
 ('Jessica', 25),
 ('Jacob', 25),
 ('Mildred', 24),
 ('Betty', 24),
 ('Susan', 24),
 ('Henry', 23),
 ('Ashley', 23),
 ('Nancy', 22),
 ('Andrew', 21),
 ('Florence', 20),
 ('Marie', 20),
 ('Donald', 20),
 ('Amanda', 20),
 ('Samantha', 19),
 ('Karen', 18),
 ('Lisa', 18),
 ('Melissa', 18),
 ('Madison', 18),
 ('Olivia', 18),
 ('Stephanie', 17),
 ('Abigail', 17),
 ('Ethel', 16),
 ('Sandra', 16),
 ('Mark', 16),
 ('Frances', 15),
 ('Carol', 15),
 ('Angela', 15),
 ('Michelle', 15),
 ('Heather', 15),
 ('Ethan', 15),
 ('Isabella', 15),
 ('Shirley', 14),
 ('Kimberly', 14),
 ('Amy', 14),
 ('Ava', 14),
 ('Virginia', 13),
 ('Deborah', 13),
 ('Brian', 13),
 ('Jason', 13),
 ('Nicole', 13),
 ('Hannah', 13),
 ('Sophia', 13),
 ('Minnie', 12),
 ('Bertha', 12),
 ('Donna', 12),
 ('Cynthia', 11),
 ('Alice', 10),
 ('Doris', 10),
 ('Ronald', 10),
 ('Brittany', 10),
 ('Nicholas', 10),
 ('Mia', 10),
 ('Noah', 10),
 ('Joan', 9),
 ('Debra', 9),
 ('Tyler', 9),
 ('Ida', 8),
 ('Clara', 8),
 ('Judith', 8),
 ('Taylor', 8),
 ('Alexis', 8),
 ('Alexander', 8),
 ('Mason', 8),
 ('Harry', 7),
 ('Sharon', 7),
 ('Steven', 7),
 ('Tammy', 7),
 ('Brandon', 7),
 ('Liam', 7),
 ('Anthony', 6),
 ('Annie', 5),
 ('Gary', 5),
 ('Jeffrey', 5),
 ('Jayden', 5),
 ('Charlotte', 5),
 ('Lillian', 4),
 ('Kathleen', 4),
 ('Justin', 4),
 ('Austin', 4),
 ('Chloe', 4),
 ('Benjamin', 4),
 ('Evelyn', 3),
 ('Megan', 3),
 ('Aiden', 3),
 ('Harper', 3),
 ('Elijah', 3),
 ('Bessie', 2),
 ('Larry', 2),
 ('Rebecca', 2),
 ('Lauren', 2),
 ('Amelia', 2),
 ('Logan', 2),
 ('Oliver', 2),
 ('Walter', 1),
 ('Carolyn', 1),
 ('Pamela', 1),
 ('Lori', 1),
 ('Laura', 1),
 ('Tracy', 1),
 ('Julie', 1),
 ('Scott', 1),
 ('Kelly', 1),
 ('Crystal', 1),
 ('Rachel', 1),
 ('Lucas', 1)]